# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.claude
.vscode

# Node dependencies
node_modules

save-example
scripts

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
